
body{
    font-family: 'Poppins';
    font-size: 14px;
    text-align: justify;
}
@media(max-width: 991px){
    body{
        padding: 10px;
    }
}
body p{
    color: #2d2e31cb;
}
.nav-shadow{
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
.light-color{
    color: rgb(141, 131, 131);
}
.head-color{
    color: rgb(65, 61, 61);
}
.sub-head-color{
    color: rgb(95, 90, 90);
}
.color-blue{
    /* color: #136CFB; */
    color: #2196F3;
}


/* .navbar{
    margin-top: 10px;
} */


.booking-btn .btn{
    background-color: #2E3694;
    color: white;
    border-radius: 17px;
    transition: 0.5s ease;
    padding: 8px 25px;
}
.navbar{
    background-color: rgb(255, 255, 255);
}
.navbar .navbar-nav  .nav-item .nav-link:hover, .navbar .navbar-nav  .nav-item .nav-link:focus, .navbar .navbar-nav  .nav-item .nav-link.active{
    color: black;
    font-weight: bold;
}
.navbar .navbar-brand img{
    height: 70px;
    width: auto;
}
@media(max-width: 991px){
    body{
        margin: 0 auto;
        justify-content: center;
        text-align: justify;
        /* text-align: center; */

    }
}







/* --------------------toggle button css start----------------------- */
.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #2E3694;
    display: block;
    transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: #136CFB;
}



/* --------------------toggle button css end----------------------- */








/* --------------------common css start----------------------- */

/* --------------------------button animation------------------------- */
@keyframes pop {
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  .pop {
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
  }
  .pop:hover {
    animation-name: pop;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }

/* --------------------------button aniamtion-------------------------------- */

/* --------------------common css end----------------------- */





/* --------------------home start----------------------- */


.home{
    margin-top: 350px;
}
.home .sub-home-para {
    color: rgb(141, 131, 131);
    margin-top: 10px;
}
.home-card-color {
    color: #2E3694;
}
.home h1{
    font-size: 45px;
    margin-top: -30px;
}
.home button{
    background-color: #2E3694;
    color: white;
    border-radius: 17px;
    transition: 0.5s ease;
    padding: 8px 25px;
    
}

.home  .doctor-img-bg{
    width: 400px;
    height: auto;
    z-index: -1;
    overflow: hidden;
    margin-top: -100px;
}
/* .doctor-img{
    height: 500px;
    margin-left: 40px;
    width: auto;
    z-index: -2;
    overflow: hidden;
} */
.home .experiences-card{
    margin-top: 50px;
    width: 40%;
    position: absolute;
    margin-left: 10px;
    border-radius: 15px;
    background-color: rgb(253, 253, 253);
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.small-card {
    width: 150px;
    margin-left: 350px;
    z-index: 10;
    margin-top: -70px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    padding: 15px;
}

@media(max-width: 991px){
    .home  {
        margin-top: 170px;
    }
    .home h1{
        margin: 0 auto;
    }
    .home  .doctor-img-bg{
        display: block;
        margin: 0 auto;
        margin-top: 70px;
        
    }
    .home .experiences-card{
        width: auto;
        margin: 0 auto;
        margin-top: 550px;
    }
}


/* ---------------------home end------------------------- */





/* ---------------------about start------------------------- */

.about{
    margin-top: 150px;
}
.about h6{
    color: #136CFB;
}
.about-descripion {
    width: 80%;
    text-align: justify;
    margin-top: 15px;
}
.about .about-contents{
    margin-top: 90px;
}
.about .about-contents .card{
    border: 0;
    padding: 10px;
    width: 500px;
    transition: 0.3s ease;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.about .about-contents .card img{
    margin-top: 30px;
    width: 200px;
    height: auto;
    opacity: .8;
}
.about .about-contents .card:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.about .about-contents  .move-right{
    margin-left: 90px;
}
.about .about-contents .about-doctor img{
    z-index: -1;
    height: 450px;
    margin-top: 50px;
}
@media(max-width: 991px){
    .about .about-contents .card{
        width: 100%;
    }
    .about .about-contents .card img{
        width: 50px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .about{
        margin-top: 400px;
        text-align: center;

    }
    .about-descripion{
        width: 100%;
    }
    .about .about-contents .card{
        text-align: center;
        margin: 0 auto;
    }
    .about .about-contents  .move-right{
        margin: 0 auto;
    }
    .about .about-contents .about-doctor img{
        width: auto;
        height: auto;
    }
}

/* ---------------------about end------------------------- */





/* ---------------------blog start------------------------- */


.blog{
    background-color: rgb(243, 245, 247);
    margin-top: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.blog .blog-cards{
    margin: 0 auto;
    margin-top: 20px;
    padding: 55px;
}
.blog .blog-cards .card{
    border: 0;
    /* box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px; */
    width: 300px;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    padding-bottom: 10px;
}
.blog .top-gap{
    margin-top: 20px;
}
.blog .blog-cards .card:hover, .blog .blog-cards .card:focus, .blog .blog-cards .card.active{
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.blog .blog-cards .card  button{
    border-radius: 20px;
    background-color: #136CFB;
    padding: 8px 25px;
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
}
@media(max-width: 991px){
    .blog {
        text-align: center;
    }
    .blog .blog-cards{
        padding: 0;
        justify-content: center;
    }
    .blog .blog-cards .card{
        margin: 0 auto;
    }
    .about-para{
        padding: 10px;
    }
}


/* ---------------------blog end------------------------- */






/* ---------------------blog page start------------------------- */

.blogs{
   margin-top: 200px;
    padding-bottom: 80px;
}
.blogs .blog-page-main-img  {
    margin: 0 auto;
    width: 800px;
    height: auto;
}
.blogs .blogs-content-1{
    margin-top: 80px;
}
.blogs .blogs-content-1 img{
    height: 400px;
    width: auto;
    display: block;
    margin: 0 auto;
}
.blogs .blogs-content-2 img{
    height: 400px;
    width: auto;
    display: block;
    margin: 0 auto;
}
.blogs .blogs-content-2{
    margin-top: 80px;
}
.blogs-content-3{
    margin-top: 150px;
}
.blog-content-4{
    margin-top: 150px;
}
.blogs .blogs-content-1 .top-gap-space{
    margin-top: 100px;
}
.blogs .blogs-content-2 .top-gap-space{
    margin-top: 140px;
}

.blog-content-3 .card{
    width: auto;
    height: 100%;
    border: 0;
    box-shadow: rgba(10, 10, 20, 0.05) 0px 1px 0px, rgba(10, 10, 20, 0.1) 0px 0px 8px;    
    border-radius: 27px;
    padding: 15px;
    background-color: #fffdfd;
}
.blog-cards{
    margin-top: 50px;
}
.blog-content-3 .card img{
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.blog-content-3 .card button{
    border-radius: 20px;
    background-color: #136CFB;
    padding: 8px 25px;
    color: rgb(255, 255, 255);
    transition: 0.3s ease;

}
@media(max-width: 991px){
    .blogs .blog-page-main-img{
        width: auto;
    }
    .blogs-content-2 .top-gap-space p{
        margin-top: -200px;
    }
    .card-top-gap{
        margin-top: 20px;
    }
}



/* ---------------------blog page end------------------------- */







/* ---------------------contact start------------------------- */


.contact{
    margin-top: 200px;
}
.contact .contact-main-img img{
    width: 750px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.contact .contact-contents{
    margin-top: 20px;
}
.contact .contact-page-form form{
    margin-top: 220px;
}
.contact form{
    margin-top: 80px;
    background-image: url();
    width: 80%;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border-radius: 15px;
}
.contact form input, .contact form textarea{
    border: 0;
    border-bottom: 1px solid #99a8c0;
    border-radius: 0;
    opacity: 0.5;
    background-color: transparent;
}

.contact .contat-btn{
    border-radius: 20px;
    background-color: #136CFB;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
}
.contact .contact-icons{
    margin-top: 100px;
}
.contact .contact-icons img{
    width: 50px;
    height: auto;
    margin-top: 15px;
}
.contact .contact-icons h6{
    margin-top: 17px;
    /* margin-left: 15px; */
}
/* .contact .contact-icons p{
    margin-left: 60px;
} */
.contact .contact-map{
    margin-top: 80px;
}
@media(max-width: 991px){
    .contact form{
        width: 100%;
    }
    .contact .contact-page-form form{
        margin-top: 50px;
    }
    .contact  iframe{
        width: auto;
    }
    .contact-map{
        text-align: center;
    }
}

/* ---------------------contact page start------------------------- */


.contact  .contact-icons img{
    width: 50px;
    height: auto;
}
.contact-address{
    margin-top: 50px;
}

/* ---------------------contact page start------------------------- */








/* ---------------------book-now start------------------------- */

.book-now{
    padding-top: 200px;
    padding-bottom: 80px;
}
.book-now button{
    background-color: #136CFB;
    color: white;
    padding: 8px 10px;
    border-radius: 0;
    border: 0;
    transition: 0.3s ease;
}

.book-now button:focus, .book-now button:hover, .book-now button.active{
    background-color: transparent;
    color: #2196F3;
    border: 1px solid #2196F3;
}
.book-now-buttons button{
    margin-right: 20px;
}
.book-now-deatils .place{
    margin-top: 88px;
    
}
.book-now-deatils .left-padding{
    margin-left: 10px;
}
.book-now-deatils img{
    width: 40px;
    height: 40px;
}
.book-now-deatils  a , .book-now-deatils p {
    text-decoration: none;
    /* margin-left: 60px; */
    color: rgb(19, 18, 18);
    /* margin-top: -10px; */
}
.location-head h5{
    margin-top: 10px;
    margin-left: 20px;
}
.phone-head h5{
    margin-top: 40px;
    margin-left: 20px;
}
.time-head h5{
    margin-top: 60px;
    margin-left: 20px;
}
.book-now-deatils  a:hover{
    font-weight: bold;
}
.day-off p{
    text-align: center;
    margin: 0 auto;
}
.day-work p{
    text-align: center;
    margin: 0 auto;
}
.day-off-bg{
    background-color: rgb(98, 179, 211);
}
.day-work-bg{
    background-color: rgb(42, 109, 209);
}
.day-off{
    width: 70px;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border: 1px solid rgb(255, 255, 255);
}
.day-work{
    width: 70px;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border: 1px solid rgb(255, 255, 255);
}
@media(max-width: 991px){
    .book-now iframe{
        width: auto;
        margin: 0 auto;
        display: block;
    }
    .book-now .place{
        margin: 0 auto;
        margin-top: 25px;
    }
    .book-now .weeks{
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .book-now-buttons{
        overflow-y: scroll;
    }
}


/* ---------------------book-now end------------------------- */







/* ---------------------contact end------------------------- */




.footer{
    margin-top: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    /* background-color: rgb(243, 245, 247); */
    background-color: #136cfbe0;
}
.footer .footer-head{
    color: #d5dbe4;
}
.footer .quick-links{
    margin: 0 auto;
    text-align: justify;
    justify-content: center;
}
.footer .quick-links a{
    padding: 19px;
    text-decoration: none;
    color: #d5dbe4;
    transition: 0.5s ease;
}
.footer .quick-links a:hover{
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.footer i{
    background-color: #86adec;
    color: white;
    transition: 0.5s ease;
    padding: 19px;
    margin-right: 15px;
}
.footer i:hover{
    background-color: #ffffff;
    color: #86adec;
}

.footer .fb i{
    padding: 8px 13px 8px 13px;
    border-radius: 50%;
    font-size: 20px;
}
.footer .insta i{
    padding: 9px 10px 9px 10px;
    border-radius: 50%;
    font-size: 20px;
}
.footer .twitter i{
    padding: 9px 10px 9px 10px;
    border-radius: 50%;
    font-size: 20px;
}
.footer .linkedin i{
    padding: 9px 10px 9px 10px;
    border-radius: 50%;
    font-size: 20px;
}
.footer .social-icons{
    justify-content: center;
    margin: 0 auto;
}
.footer hr{
    color: #136cfb67;
}
@media(max-width: 991px){
    .footer h6{
        margin-bottom: 20px;
    }
}
